<div class="headtop">
	<header class="head">
		<div class="headleft">
			<a href="#" class="logo"><img src="/images/logo.jpg" /></a>
		</div>
		<div class="headright">
			<ul class="headlist">
				<li> <a onclick="location.href='/'">首页</a> </li>
				<li> <a onclick="location.href='/study'">学无止境</a> </li>
				<li> <a onclick="location.href='/heart'">心灵鸡汤</a> </li>
				<li> <a onclick="location.href='/photo'">相册展示</a> </li>
				<li> <a onclick="location.href='/liuyan'">留言板</a> </li>
			</ul>
			<a  class="btn btn-danger an" onclick="location.href='/login'">登录</a>
			<a  class="btn btn-info an1" onclick="location.href='/register'">注册</a>
				

			
			
		</div>
	</header>
</div>