<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/liu_photo.css' />
    <script type="text/javascript" src="/js/jquery-1.11.0.js" ></script>
    <script type="text/javascript" src="/js/common.js" ></script>
    <script type="text/javascript" src="/js/photo.js" ></script>
  </head>
  <body>
    <%- include('header.ejs') %>

		<div class="bg">
    		<ul class="bannerlist">
				<li>
					<marquee behavior="alternate" scrollamount="3"> 我们不停的翻弄着回忆</marquee>
				</li> 
				<li>
					<marquee behavior="alternate" scrollamount="5"> 却再也找不回那时的自己</marquee>
				</li>
				<li>
					<marquee behavior="alternate" scrollamount="7"> 红尘一梦，不再追寻</marquee>
				</li>
			</ul>
			
    </div>
    <div class="touxiang">
		<a href="#"></a>
	</div>
  
	<ul id="list">
		<li>
			<img src="/images/1.jpg">
			<div style="background: url(/images/1.jpg);background-size: cover;"></div>
		</li>
		<li>
			<img src="/images/2.jpg">
			<div style="background: url(/images/2.jpg) center;background-size: cover;"></div>
		</li>
		<li>
			<img src="/images/3.jpg">
			<div style="background: url(/images/3.jpg) center;background-size: cover;"></div>
		</li>
		<li>
			<img src="/images/4.jpg">
			<div style="background: url(/images/4.jpg) center;background-size: cover;"></div>
		</li>
		
		<li>
			<img src="/images/5.jpg">
			<div style="background: url(/images/5.jpg) center;background-size: cover;"></div>
		</li>
		<li>
			<img src="/images/6.jpg">
			<div style="background: url(/images/6.jpg) center;background-size: cover;"></div>
		</li>
	
	</ul>  
  
  </body>
</html>
